<?xml version="1.0"?>
<!-- recursive robocopy configuration -->
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="recursive_robocopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="recursive_robocopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!-- V5                                                                                  -->
  <!--  - Added robocopy command as a value - defaults set in the settings.settings stuff  -->
  <!--  - Added file exclusions as a value - defaults to none - the {2} substitution automatically adds the /xf -->
  <applicationSettings>
    <recursive_robocopy.Properties.Settings>
      <setting name="MaxThreads" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="robocopy_command" serializeAs="String">
        <value>robocopy {0} {1} /lev:{2} /xo /z /e {3}</value>
      </setting>
      <setting name="file_exclusions" serializeAs="String">
        <value>*.dll</value>
      </setting>
    </recursive_robocopy.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <recursive_robocopy.Properties.Settings>
      <setting name="numLevels" serializeAs="String">
        <value>2</value>
      </setting>
    </recursive_robocopy.Properties.Settings>
  </userSettings>
</configuration>
